/* CSS Reset */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* Header */

h2 {
	font-family: 'Edu Tas Beginner';
	font-weight:bold;
	font-size: 3rem;
	text-align: center;
	color: black;
}

header {
	padding: 10px;
	height: 100px;
	background-image: url(/img/wall.png);
	background-size: 30%
}

/* Main */

main {
	background-image: url(/img/cork.png);
  background-size: 40%;
  background-position: center;
  background-repeat: repeat;
  padding-bottom: 3rem;
}

.card {
	border-radius: 0px;
	position: relative;
 }

.card-img-top {
	padding: 15px;
	display: block;
}

.pin-img-top {
	position: absolute;
	left: 50%;
	top: -10px;
	transform: translate(-50%);
}

 .card-text {
	font-family: 'Edu Tas Beginner';
 }