/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Header */

h3 {
  font-family: "Edu Tas Beginner";
  font-weight: bold;
  font-size: 3rem;
  text-align: center;
  color: black;
}

header {
  padding: 10px;
  background-image: url(/img/wall.png);
  background-size: 30%;
}

/* Overlay */

#custom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overlay-content {
  position: relative;
  text-align: center;
  top: 5%;
  left: 5%;
  max-width: 90%;
  max-height: 90%;
}

.overlay-content img {
  max-width: 100%;
  max-height: 100%;
  border-radius: 10px;
}

/* Main */

main {
  background-image: url(/img/cork.png);
  background-size: 40%;
  background-position: center;
  background-repeat: repeat;
  padding-bottom: 3rem;
}

.card {
  border-radius: 0px;
  position: relative;
}

.card-body {
	padding-top: 0;
}

.card-img-top {
  padding: 15px;
  display: block;
}

.pin-img-top {
  position: absolute;
  left: 50%;
  top: -10px;
  transform: translate(-50%);
}

#picture-date {
  font-family: "Sometype Mono";
  margin-bottom: 0;
}

#picture-title {
  font-family: "Edu Tas Beginner";
  font-size: 1.5rem;
}

/* Responsive H2 */

header h3 {
	font-size: 2.5rem;
	font-weight: 700;
	text-align: center;
}

@media (min-width: 768px) {
	header h3 {
		font-size: 4rem;
	}
}

@media (min-width: 1200px) {
	header h3 {
		font-size: 5rem;
	}
}